/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/newsTime.txt
public/meczeTime.txt
public/stadionyTime.txt
public/wyjazdyTime.txt
